* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #175B85;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; 
    padding-top: 100px; 
}


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #175B85; 
    z-index: 9999; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #175B85; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 3s linear infinite; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #175B85;
    padding: 23px;
    z-index: 1000;
}

.header a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.right {
    margin-right: 60px;
}

.right a:nth-of-type(2) {
    margin-left: 10px; 
    border: 2px solid #fff; 
    padding: 5px 25px;
    border-radius: 20px;
}

.logo img {
    height: 50px;
}

.navbar {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease; /* Add transition effect */
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 5px; 
    left: 0;
    width: 0; 
    height: 2px;
    background-color: white; 
    transition: width 0.3s ease; 
}

.nav-link:hover::after {
    width: 100%; 
}

.container {
    width: 1300px; 
    height: 550px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    background-color: white; 
    z-index: 999; 
    padding: 20px; 
}

.rightbox {
    width: 70%; 
    height: 100%; 
    padding: 20px; 
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.leftbox {
    width: 30%; 
    height: 100%; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftbox {
    border: 2px solid rgb(186, 186, 186);
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px; 
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px; 
}
.leftbox img{
    width: 170px;

}

.rightbox {
    background-color: rgb(255, 255, 255); 
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px;
    position: relative;
}

.judul-buku{
    color: black;
}

.genre-buttons {
    margin-top: 20px; 
    display: flex;
    gap: 10px; 
}

.genre-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.genre-btn:hover {
    background-color: #2980b9;
}

.sinopsis {
    margin-bottom: 10px;
    color: #000000;
}

.nama-pembuat {
    margin-top: 20px;
    font-style: italic;
    color:#07a0ff;
    margin-bottom: 10px;
}

.informasi_buku {
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
}

.kembali-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #175B85;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.kembali-btn:hover {
    background-color: #2980b9;
}

.gambar-buku {
    width: 200px; 
    height: auto;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

.btn-baca, .btn-tambah {
    background-color: #2ea76b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    width: 170px;
    transition: background-color 0.3s ease;
}

.btn-baca:hover, .btn-tambah:hover {
    background-color: #0D3C55;
}

.rating-stars {
    margin-top: 10px;
  }
  
  .rating-stars i {
    cursor: pointer;
    font-size: 18px;
    margin-right: 5px;
  }
  
  .rating-stars i:hover {
    color: #f7dc6f;
  }
  
  .rating-stars .fa-star {
    color: #ccc;
  }
  
  .rating-stars .fa-star:hover {
    color: #f7dc6f;
  }

  .icon-buttons {
    margin-top: 10px;
    text-align: center;
  }
  
  .icon-buttons button {
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
  }
  
  .icon-buttons button:hover {
    background-color: #ffffff;
  }
  
  .icon-buttons i {
    font-size: 18px;
    margin-right: 5px;
  }

  .seperator {
    border-top: 1px solid rgb(0, 0, 0);
    margin-top: 15px;
    width: 180px;
  }

/* Common styles for modals */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Reduced margin to make the modal larger */
    padding: 20px;
    border: 1px solid #888;
    width: 200%; /* Increased width */
    height: 200%; /* Set height to 90% of the viewport */
    max-width: 1200px; /* Optional max width for large screens */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: modalopen;
    animation-duration: 0.5s;
}

/* Additional CSS to make sure iframe fills the modal */
.modal-content iframe {
    width: 100%;
    height: calc(100% - 40px); /* Subtract padding */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styling for pdfModal */
#pdfModal .modal-content {
    background-color: #fefefe; 
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 250%; 
    max-width: 1000px;
    border-radius: 10px;
    position: relative; 
    height: 80%; 
}

#pdfModal .close {
    color: #333; /* Change close button color */
}

#loginModal .modal-content {
    background-color: #fefefe; /* Change background color */
    color: rgb(0, 0, 0); /* Change text color */
    text-align: center; /* Center-align text */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column; /* Align content in a column */
    max-width: 450px; /* Set maximum width */
    max-height: 100px; /* Set maximum height */
    position: fixed; /* Fixed position */
    top: 30%; /* Position from the top */
    left: 50%; /* Position from the left */
    transform: translate(-50%, -50%); /* Center the modal */
}

#loginModal p {
    margin: 0;
    padding: 10px 20px; /* Add padding for better appearance */
}

