body {
    background-color: #175B85;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #175B85; 
    z-index: 9999; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #175B85; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 3s linear infinite; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.welcome {
    color: #000;
    text-align: center;
    font-weight: bold;
    font-size: auto;
}

.email, .password {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

.login-input {
    display: block;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.logo img {
    width: 150px;
    height: auto;
}

.login-box {
    width: 575px;
    height: 525px; 
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.left, .right {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right {
    background-color: lightgray;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.slogan {
    color: rgb(19, 28, 249);
    font-size: 20px;
    text-align: left;
}

.highlight {
    color: rgb(0, 0, 0);
}

.left {
    background-color: rgb(237, 235, 235);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #175B85;
    color: white;
    cursor: pointer;
    width: 100%;
    margin-top: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

button:hover {
    background-color: #175;
}

.models {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.google-btn {
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    color: #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.google-btn:hover {
    background-color: #f1f1f1;
}

.google-logo {
    height: 20px;
    margin-right: 10px;
}

hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.password-container {
    position: relative;
}

.custom-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 40px 10px 10px; 
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-30%);
    cursor: pointer;
    color: #aaa;
}

.forgot-password {
    text-align: right;
    margin-top: 5px;
}

.forgot-password a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.remember-me {
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #000000;
}

.remember-me input[type="checkbox"] {
    margin-right: 5px;
}

.forgot-remember-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot-password {
    text-align: left;
}

.remember-me {
    text-align: right;
}

.credit {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: -35px;
}

.login-link {
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.login-link a {
    color: #000;
}

.or-separator {
    font-weight: bold;
    font-size: 13px;
    display: flex;
    align-items: center;
    text-align: center;
}

.or-separator::before,
.or-separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
    margin: 0 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
